@import url('https://fonts.googleapis.com/css2?family=Aleo&display=swap');

body {
  margin: 0;
  font-family: 'Aleo', serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

* {
  scrollbar-color: rgba(34,34,34,0.07) transparent;
  scrollbar-width: thin !important;
}

* ::-webkit-scrollbar-track{
  background-color: unset !important
}

* ::-webkit-scrollbar{
  width: 8px;
  height: 8px;
  background-color: unset !important;
}

* ::-webkit-scrollbar-thumb{
  background-color: rgba(34,34,34,0.2);
  border-radius: 70px
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
